<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonMark.NET" version="0.15.1" targetFramework="net462" />
  <package id="Jil" version="2.15.4" targetFramework="net462" />
  <package id="MN.L10n" version="1.0.111" targetFramework="net462" />
  <package id="NGettext" version="0.6.3" targetFramework="net462" />
  <package id="Sigil" version="4.7.0" targetFramework="net462" />
</packages>